# Archivos de contexto para IAs
claude.md
gemini.md
Sprint 1 Historias de usuario.html
Sprint 2 - Casos de Uso.drawio
Sprint 2 - CU-12 Crear Usuario.drawio
Sprint 2 - CU-13 Editar Usuario.drawio
Sprint 2 - CU-14 Desactivar Usuario.drawio
Sprint 2 - CU-15 Crear Producto.drawio
Sprint 2 - CU-16 Editar Producto.drawio
Sprint 2 - CU-17 Desactivar Producto.drawio
Sprint 2 - CU-18 Gestionar Imagenes.drawio
Sprint 2 - CU-19 Ajustar Inventario.drawio
Sprint 2 - CU-20 Dashboard.drawio
Sprint 2 - CU-21 Consultar Auditoria.drawio
Sprint 2 - CU-22 Buscar y Filtrar.drawio
Sprint 2 - INDICE.html
Sprint 2 - Modelo ER.drawio
Sprint 2 Casos de Uso.html
Sprint 2 Historias de usuario.html
Sprint 2 Modelo Relacional.html
Sprint 2 Requisitos No Funcionales.html
backlog.pdf
.claude/
Documentación/